.admin-dashboard-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.admin-dashboard-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-dashboard-table th,
.admin-dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.admin-dashboard-table th {
  background-color: #f2f2f2;
}

.admin-dashboard-button-container button {
  margin-right: 10px;
}

.admin-dashboard-button-container button:last-child {
  margin-right: 0;
}

.back-button {
  color: rgb(255, 255, 255);
  background-color: #A16345;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 28px 40% 0 0;
  width: 16%; /* Define a largura como 100% para ocupar toda a largura do container */
}

  /* Estilos para visualização em dispositivos móveis */
  @media only screen and (max-width: 600px) {
    .back-button {
      color: rgb(255, 255, 255);
      background-color: #A16345;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin: 12px 48% 0 0;
      width: 40%; /* Define a largura como 100% para ocupar toda a largura do container */
    }
  }

