/* Estilos para visualização no computador */
.new-form-container {
    max-width: 400px;
    margin: 5rem auto; /* Centraliza o formulário horizontal e verticalmente */
    background-color: white;
    padding: 0 23px;
    position: relative; /* Adicionado para posicionamento absoluto dos botões */
  }
  
  .new-form-wrapper {
    padding: 20px;
    border: 1px solid #cccccc00;
    border-radius: 5px;
  }
  
  .new-input-field {
    margin-bottom: 15px;
  }
  
  .new-input-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .new-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .new-forgot-password {
    margin-top: 23%;
    margin-right: 2%;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
  }
  
  .new-back-button,
  .new-login-button {
    width: 16%;
    padding: 10px;
    background-color: #A16345;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  .new-back-button {
    margin-top: -16%;
    width: 40%;
    height: 20%;
  }
  
  .new-login-button {
    margin-top: 52%;
    width: 40%;
    height: 20%;
  }
  .new-error-message {
    margin-top: 15px;
    color: red;
  } 

  
  /* Estilos para visualização em dispositivos móveis */
  @media only screen and (max-width: 600px) {
    .new-form-container {
      max-width: 90%;
      margin: 4rem auto 0; /* Centraliza o formulário na horizontal */
      padding: 0 23px;
    }
  
    .new-input {
      font-size: 14px;
    }
    
    .new-login-button {
      width: 50%; /* Alterado para ocupar a largura completa do formulário */
      font-size: 16px;
      margin-top: 15px;
      padding: 10px;
      margin: 15rem 21% 0 0;

    }
  
    .new-back-button {
      font-size: 16px;
      margin-top: 15px;
      width: 50%; /* Alterado para ocupar a largura completa do formulário */
      margin: -4rem 21% 0 0;
    }
  
    .new-forgot-password {
      font-size: 14px;
      margin-top: 5px;
      margin: 6.40rem 8px 0 0;
    }
  }
  